<div>

    <div *ngIf="type === 'icon'">
        <button mat-icon-button class="buttons__cart">
            <mat-icon matBadge="{{ counter}}" matBadgeColor="warn">shopping_cart</mat-icon>
        </button>
    </div>

    <div *ngIf="type === 'card'" class="buttons__content-card" >
        <button class="buttons__card" 
        mat-flat-button
        color="primary"
        > {{ label }}
        </button> 
    </div>

    <div *ngIf="type === 'flat'" class="buttons__content-home">
        <button class="buttons__home" 
        mat-flat-button
        color="primary"
        > {{ label }}
        </button> 
    </div>
    <div *ngIf="type === 'pay'" class="buttons__conten-pay" >
        <button mat-flat-button color="primary" class="buttons__pay">
            <img class="buttons__img-pay" src="assets/imgs/credit-card-white.png" alt="">
            {{ label }}
        </button>
    </div>

    <div *ngIf="type === 'close'" class="buttons__content-close">
        <button mat-button mat-dialog-close color="primary">{{label}}</button>
    </div>
   
</div>
