.buttons__cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons__content-home {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.buttons__home{
    width: 100%;
    height: 56px;
}

.buttons__conten-pay {
    width: 100%;
    margin-top: 40px ;
    
}

.buttons__pay {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons__img-pay {
    width: 30px;
    margin-right: 20px;
}

.buttons__content-card {
    width: 100%;
}

.buttons__card {
    height: 36px;
    width: 100%;
    
}