.modal__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    
}

.modal__icon-cart {
    font-size: 40px;
    color: #11c76f;
}

.modal__group-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
} 

.modal__title {
    text-align: center;

}