<div class="modal__container">
    <div class="modal__group-add">
        <div mat-dialog-content>
            <mat-icon class="modal__icon-cart">add_shopping_cart</mat-icon>
        </div>
        <div class="modal__title">
            <h1 mat-dialog-title>Oferta Adicionada ao carrinho</h1>
        </div>
        <div mat-dialog-actions>
            <app-button
            [type]="'close'"
            [label]="'Finalizar a compra'"
            (click)="goCart()"
            ></app-button>
        </div>   
    </div>
</div>

