/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
     margin: 0;
     font-family: Roboto, "Helvetica Neue", sans-serif;
}

.break__line {
    display: block;
}

/* overwrite mat-divider >>>>> */

.mat-divider {
    width: 90%;
}




/*  overwrite mat-form-field >>>>>>>*/

.mat-form-fiel {
    width: 100%;
    display: flex;
}