<div class="detail__container">
    <div class="detail__content-header">
        <div class="detail__content-img">
            <div class="detail__carrosel">
                <div>
                    <img class="detail__img" [src]="imgSelected" alt="SQUADRA TESTE" />
                </div>
                <div class="detail__carrosel-img">
                    <button *ngFor="let img of imgs" [ngClass]="img === imgSelected ? 'active' : '' "
                        (click)="selectImg(img)" type="button">
                        <img [src]="img" alt="SQUADRA TESTE" />
                    </button>
                </div>
            </div>
        </div>
        <div class="detail__content-text">
            <h1 class="detail__title">{{ Offers.titulo }}</h1>
            <div class="detail__content-description">
               <p>
                {{ Offers.descricaoBreve }}
               </p> 
            </div>
            <div class="detail__content-value">
               <span class="detail__description-value">
                 Por apenas
               </span>           
                <span class="detail__value">
                {{ Offers.valor | currency}}  
                </span>  
            </div>
            <app-button
                [type]="'flat'"
                [label]="'Comprar'"
                (click)="addOfferToCart(Offers)"
            ></app-button>
            <div class="detail__link-back">
                <a  routerLink="/offers">Voltar</a>
            </div>
        </div>
    </div>
    <div class="detail__content-info">
        <div>
            <h3>Detalhes da Oferta</h3>
            <div *ngFor="let detalhe of Offers.detalhes" class="detail__content-highlights">
                <mat-icon class="detail__detalhe-icon">check</mat-icon> {{ detalhe }}
            </div>
        </div>
        <div>
           <h3>Destaques da Oferta</h3>
            <div *ngFor="let destaque of Offers.destaques" class="detail__content-highlights">
                <mat-icon class="detail__destaque-icon">star_border</mat-icon> {{ destaque }}
            </div>
        </div>
    </div>
</div>