.detail__container  {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail__content-header {
   display: flex;
   flex-direction: column;
}

.detail__img {
    width: 100%;
    max-width: 500px;
}

.detail__carrosel {
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    margin-top: 16px;
}

.detail__carrosel .detail__carrosel-img {
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    margin-top: 16px;
}
   
.detail__carrosel button {
    border: 0;
    height: 88px;
    background: none;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    outline: none;
    border: 1px solid #3f51b5;
    opacity: 0.6;
    margin: 0 10px;
}

.detail__carrosel  button.active {
    opacity: 1;
}

.detail__carrosel  button img {
    width: 100%;
    height: 88px;
    object-fit: cover;

}

.detail__content-text {
    text-align: center;
}

.detail__content-value {
    display: flex;
    flex-direction: column;
}

.detail__description-value {
    margin-bottom: 6px;
}

.detail__value {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 26px;
}

.detail__content-info {
    width: 100%;
    max-width: 1000px;
}

.detail__content-highlights {
    display: flex;
    align-items: center;
    color: rgba(0,0,0,.87);
    font-size: 14px;
    display: flex;
    align-items: center;
}

.detail__link-back {
    margin-top: 12px;
}

.detail__link-back a {
   text-decoration: none;
   color: rgb(117, 118, 119);
   font-size: 14px;
   margin-bottom: 30px;
}

.detail__destaque-icon {
    color: #fdd030;
}

.detail__detalhe-icon {
    font-size: 20px;
    color: #3f51b5;
}

@media(min-width: 628px) {

    .detail__content-header {
        flex-direction: row;
        align-items: center;
    }

    .detail__content-text {
        width: 350px;
    }

    .detail__content-img {
        margin-right: 80px;
    }
}