<div class="remove__container">
    <div class="remove__content-title">
        <h1 mat-dialog-title>Atenção</h1>
    </div>
    <div mat-dialog-content>
        Deseja excluir essa oferta?
    </div>
    <mat-dialog-actions class="remove__content-button">
        <app-button
            [type]="'cancel'"
            [label]="'Cancelar'"
        ></app-button>
        <app-button
            [type]="'remove'"
            [label]="'Excluir'"
        ></app-button>
    </mat-dialog-actions>
</div>