<mat-toolbar color="primary">
    <header class="header__container">
        <div class="header__content-logo" routerLink="/offers">
            <img src="assets/imgs/logo-white-4.png" class="header__logo" alt="Squadra digital">
        </div>
        <div class="header__content-title">
          <span>TESTE FRONT-END</span><span class="header__title-hidden">ANGULAR SQUADRA</span>
        </div>
        <div class="header__content-cart">
            <app-button
                [counter]="counter"
                [type]="'icon'"
                (click)="navigateToCart()"
            ></app-button>
        </div>
    </header>
</mat-toolbar>