.header__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__content-logo {
    display: flex;
}

.header__logo {
    width: 5.4rem;
}

.header__content-title {
    display: flex;
}

.header__title {
    display: flex;
}

.header__title-hidden {
    display: none;
    margin-left: 10px;
}

@media(min-width: 768px) {

    .header__logo {
        width: 7.5rem;
    }

    .header__title-hidden {
        display: flex;
    }
}       